*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --sideBarColor: rgb(255, 253, 209);
  --contentColor: rgb(250, 249, 249);
  --projectItemsBG: rgb(202, 255, 206);
  --trashBG: rgb(230, 15, 0);
}

body {
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", serif;
  font-size: 1.2rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* outline: red 1px solid; */
}


.container h1 {
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

span {
  /* margin-bottom: 20px; */
  height: 50px;
  width: 100%;
  /* outline: red 1px solid; */
}

.submit-btn {
  width: 100px;
  margin: 10px;
  background-color: rgb(96, 173, 255);
  border-radius: 7px;
  color: white;
  font-weight: 700;
}

.error:active {
  background-color: rgb(7, 194, 69);
  color: white;
  padding: 10px;
  margin: 0 auto;
  font-size: 0.875em;
  font-weight: 700;
  /* margin-top: 5px; */
  display: block; /* Ensure the error message is displayed as a block element */
  border-radius: 7px;
}

.error.active {
  /* background-color: rgb(193, 9, 9); */
  /* color: white; */
  padding: 10px;
  margin: 0 auto;
  font-size: 0.875em;
  font-weight: 700;
  /* margin-top: 5px; */
  display: block; /* Ensure the error message is displayed as a block element */
  border-radius: 7px;
}


input:valid {
  border: 2px solid rgb(29, 143, 0);
}

input:invalid {
  border: 2px solid red;
}


@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes dropDown {
  from {
      transform: translateY(10%); 
      opacity: 0;
  }
  to {
      transform: translateY(0); /* End at the original position */
      opacity: 1; /* Fade in to full opacity */
  }
}